.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  gap: 10px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  .item {
    padding: 10px;
    border: 2px solid #616161;
    border-radius: 5px;
    cursor: pointer;
  }
  .blue {
    border: 2px solid blue;
  }
  .red {
    border: 2px solid red;
  }
  .green {
    border: 2px solid green;
  }
}
